<meta charset="UTF-8">
<meta http-equiv="expires" content="0" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>rusnet#notes</title>
<%- include("favicon") %>
<%- include("css") %>
