<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- include("head") %>
  </head>
  <body>
    <%- include("js") %>
    <% if(env === 'production') { %>
      <%- include("metriks") %>
    <% } %>
  </body>
</html>
